# Ignore Python virtual environments
env/
venv/
.env
.env
__pycache__/
fetched_repo/
# Environment variables for the project
/# .env file
# OpenAI API key
OPENAI_API_KEY=your_openai_key      
# Make webhook URL
MAKE_WEBHOOK_URL=https://hook.eu2.make.com/xvxntd8e71982
# GITHUB_REPO_URL=  
